body {
	background-image: url("white.png");
	background-repeat: no-repeat;
	background-size: 300%;
	
}
h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 35px;
	text-align: center;
	border: center; 
	border-style: solid;

}
h2 {
	font-size: 30px;
	text-align:center;
	border: center; 
	border-style: solid;
	
}
p {
	font-family: "Courier New", Courier, monospace;
	font-size: 35px;
	text-align: center;
	
}